#topmenu {
	DISPLAY: none
}
#banner {
	DISPLAY: none
}
#midbanner {
	DISPLAY: none
}
#rightmenu {
	DISPLAY: none
}
#brdcrumb {
	DISPLAY: none
}
#footer {
	DISPLAY: none
}
#bottomtext {
	DISPLAY: none
}
#strip {
	DISPLAY: none
}
#user {
	DISPLAY: none
}
#line {
	DISPLAY: none
}
#user {
	DISPLAY: none
}
#qm0 {
	DISPLAY: none
}
#leftmenu {
	DISPLAY: none
}
.ritepanellinksubheading {
	DISPLAY: none
}
.arrowlistmenu {
	DISPLAY: none
}
.ritepanel {
	DISPLAY: none
}
.div {
	DISPLAY: none
}
.style8 {
	DISPLAY: none
}
.bottomlinks {
	DISPLAY: none
}
.footerhighlight {
	DISPLAY: none
}
.bar {
	DISPLAY: none
}
.ritepanellinkheading {
	DISPLAY: none
}
.ritepanellink {
	DISPLAY: none
}
.copyright {
	DISPLAY: none
}
.ritepanellinkactive {
	DISPLAY: none
}
.ritepanelsubheadinglink {
	DISPLAY: none
}
.link {
	DISPLAY: none
}
.hedding {
	DISPLAY: none
}
#maintext {
	BACKGROUND: #ffffff; COLOR: #000000
}
.brdlink {
	DISPLAY: none
}
.blog {
	DISPLAY: none
}
IMG {
	DISPLAY: none
}
#text {
	MARGIN-TOP: 0px; FONT-SIZE: 10px; FLOAT: left; MARGIN-LEFT: 0px; WIDTH: 540px; COLOR: #000000; LINE-HEIGHT: 18px; MARGIN-RIGHT: 50px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
