BODY {
	MARGIN-TOP: 0px; BACKGROUND-IMAGE: url(../images/page_bg.gif); MARGIN-LEFT: 0px; MARGIN-RIGHT: 0px; BACKGROUND-REPEAT: repeat-x; BACKGROUND-COLOR: #ebf6fc
}
.white_bg {
	BORDER-RIGHT: #d2d9df 1px solid; BORDER-LEFT: #d2d9df 1px solid; BACKGROUND-COLOR: #ffffff
}
.yellow_bg {
	BACKGROUND-COLOR: #eef3f6
}
.div {
	COLOR: #999999
}
.treeview UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.treeview LI {
	PADDING-LEFT: 22px; BACKGROUND: url(../images/list.gif) white no-repeat left center; MARGIN-BOTTOM: 3px; LIST-STYLE-TYPE: none
}
.treeview LI.submenu {
	BACKGROUND: url(../closed.gif) white no-repeat left 1px; CURSOR: pointer! important
}
.treeview LI.submenu UL {
	DISPLAY: none
}
.treeview .submenu UL LI {
	CURSOR: default
}
.sitemaplink {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ff6600; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.sitemaplink:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.ritepanellink {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #0b4d99; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.ritepanellink:active {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #0b4d99; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.ritepanellink:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #ff6600; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.point11 {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #0b4d99; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.point11:active {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #0b4d99; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.point11:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ff6600; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.ritepanellinkactive {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ff6600; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.ritepanellinkheading {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #cc0000; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.ritepanellinksubheading {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.ritepanelsubheadinglink {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.ritepanelsubheadinglink:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ff6600; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.blog {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #fa0203; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.highlight {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #cc0000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.heading {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.content {
	FONT-SIZE: 11px; LINE-HEIGHT: 18px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.bottomlinks {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #606060; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.copyright {
	FONT-SIZE: 11px; COLOR: #606060; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.LeftBG {
	BACKGROUND-IMAGE: url(../images/leftside_bg_new.gif); BACKGROUND-REPEAT: repeat-y; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.bottomBG {
	FONT-SIZE: 12px; BACKGROUND-IMAGE: url(../images/bottom_bg_new.gif); BACKGROUND-REPEAT: repeat-x; FONT-FAMILY: Verdana, Arial
}
.topBG {
	FONT-SIZE: 12px; BACKGROUND-IMAGE: url(../images/top_bg_new.gif); BACKGROUND-REPEAT: repeat-x; FONT-FAMILY: Verdana, Arial
}
.rightBG {
	BACKGROUND-IMAGE: url(../images/rightside_bg_new.gif); BACKGROUND-REPEAT: repeat-y; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.hr {
	BACKGROUND-IMAGE: url(../images/div.jpg); BACKGROUND-REPEAT: repeat-x; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.bar {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.ritepanel {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #002ee5; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.bluehead {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #002ee5; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.tableheading {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.names {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #000000
}
.bg_gray {
	BACKGROUND-COLOR: #f7f7f7
}
.text_just {
	TEXT-ALIGN: justify
}
.blue_heading {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #002ee5; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
#leftmenu {
	CLEAR: left; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 0.9em; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 10px; WIDTH: 150px; PADDING-TOP: 0px
}
#leftmenu UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 1.1em; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 20px; WIDTH: 150px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#leftmenu LI {
	MARGIN-BOTTOM: 4px
}
#leftmenu LI A {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 10px; FONT-WEIGHT: bold; BACKGROUND: #f4f4f4; PADDING-BOTTOM: 0px; BORDER-LEFT: #cccccc 4px solid; COLOR: #505050; PADDING-TOP: 6px; HEIGHT: auto; TEXT-DECORATION: none
}
#leftmenu LI A:hover {
	BACKGROUND: #eaeaea; BORDER-LEFT: #e16a00 4px solid; COLOR: #e16a00
}
H1 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
#middle_txt {
	PADDING-LEFT: 10px; FONT-SIZE: 11px; PADDING-BOTTOM: 10px; WIDTH: 98%; LINE-HEIGHT: 18px; PADDING-TOP: 10px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: justify
}
#container {
	FONT-SIZE: 11px; MARGIN: 10px auto; WIDTH: 100%; COLOR: #000000; LINE-HEIGHT: 18px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: justify
}
#leftnav {
	FLOAT: left; MARGIN-LEFT: 10px; WIDTH: 222px
}
#rightnav {
	FLOAT: right; WIDTH: 222px; MARGIN-RIGHT: 10px
}
#content {
	MARGIN-LEFT: 265px; WIDTH: 222px
}
#leftnav P {
	MARGIN: 0px 0px 1em
}
#rightnav P {
	MARGIN: 0px 0px 1em
}
#middlebox {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; MARGIN: 10px auto; WIDTH: 100%; COLOR: #0b4d99; LINE-HEIGHT: 16px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
#midleft {
	PADDING-LEFT: 10px; FLOAT: left; BACKGROUND-IMAGE: url(../images/home_box_bg.gif); MARGIN-LEFT: 10px; WIDTH: 223px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 132px
}
#midright {
	PADDING-LEFT: 10px; FLOAT: right; BACKGROUND-IMAGE: url(../images/home_box_bg.gif); WIDTH: 223px; MARGIN-RIGHT: 10px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 132px
}
#midcenter {
	PADDING-LEFT: 10px; BACKGROUND-IMAGE: url(../images/global_reach_bg.gif); MARGIN-LEFT: 265px; WIDTH: 223px; PADDING-TOP: 8px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 132px
}
#midleft P {
	MARGIN-TOP: 8px
}
#midright P {
	MARGIN-TOP: 8px
}
#midleft LI {
	LIST-STYLE-POSITION: outside; LIST-STYLE-IMAGE: url(../images/round_bullet.gif); MARGIN-LEFT: -10px
}
#midright LI {
	LIST-STYLE-POSITION: outside; LIST-STYLE-IMAGE: url(../images/round_bullet.gif); MARGIN-LEFT: -10px
}
#midleft UL {
	MARGIN-TOP: -5px
}
.bluelink {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #0b4d99; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.bluelink:active {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #0b4d99; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.bluelink:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #0b4d99; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.yellow_top_band {
	BACKGROUND-IMAGE: url(../images/yellow_band.gif); BACKGROUND-REPEAT: repeat-x; HEIGHT: 21px
}
.light_yellow {
	BACKGROUND-COLOR: #eef3f6
}
.blue_bg {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #017dc5
}
INPUT {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; FONT-SIZE: 13px; BORDER-LEFT: #cccccc 1px solid; COLOR: #000000; BORDER-BOTTOM: #cccccc 1px solid; FONT-FAMILY: "Trebuchet MS", Verdana, Arial, sans-serif; BACKGROUND-COLOR: #ffffff
}
.textarea {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; FONT-SIZE: 13px; BORDER-LEFT: #cccccc 1px solid; COLOR: #000000; BORDER-BOTTOM: #cccccc 1px solid; FONT-FAMILY: "Trebuchet MS", Verdana, Arial, sans-serif; BACKGROUND-COLOR: #ffffff
}
